<html ng-app="myapp">
<head>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,panoramio"></script>
    <script src="http://code.angularjs.org/1.2.25/angular.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
    <script src="GMapsScript.js"></script>
</head>
<body>

<div>
    <img ng-src="https://graph.facebook.com/peter.helmberger/picture?width=200&height=200" class="img-rounded">
</div>

<h1>{{person["subject"]["value"]}}</h1>

<p>{{person["givenname"]["value"]}} {{person["familyname"]["value"]}}</p>


<form class="form-horizontal" ng-class="" ng-submit="modifyRow('sdf')">
    <div class="form-group" ng-repeat="p in personData">
        <label for="inputEmail3" class="col-sm-2 control-label">{{p.property.substr(p.property.lastIndexOf('/')+1)}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" ng-model="p.value"  value="{{p.value}}">

        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Speichern</button>
        </div>
    </div>

</form>



<div ng-controller="MapCoordinatesCtrl" class="ng-scope">
    <map center="41.12861111111111, -73.70777777777778" zoom="3">
        <marker position="41.12861111111111, -73.70777777777778" zoom="3"></marker>
        <info-window id="1" position="41.12861111111111, -73.70777777777778" visible="true">
            <div ng-non-bindable="">
                Chicago, IL<br>
                LatLng: {{chicago.lat()}}, {{chicago.lng()}}, <br>
                World Coordinate: {{worldCoordinate.x}}, {{worldCoordinate.y}}, <br>
                Pixel Coordinate: {{pixelCoordinate.x}}, {{pixelCoordinate.y}}, <br>
                Tile Coordinate: {{tileCoordinate.x}}, {{tileCoordinate.y}} at Zoom Level {{map.getZoom()}}
            </div>
        </info-window>
    </map>
</div>


</body>
</html>